.test__app {
    margin: 0 0 70px;
    padding: 0;
    font-family: 'Roboto Condensed, sans-serif';
    font-size: 16px;
    background-color: #19BFF4;
    color: #fff;
}

.title {
    display: flex;
    padding: 0 30px;
    color: #FFF;
    font-weight: normal;
    background: #001cb0;
}
