
.test__cats {
    margin: 0;
    padding: 20px 50px;

    h3 {
        text-decoration: underline;
    }
}

.test__List--single{
    margin: 0 30px 35px;

    .test__List--Row {
        display: flex;
        flex-direction: row;
        padding: 5px 0;
    }
}

.test__cats--title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
