<div class="test__cats">
    <p class="test__cats--title">{{ title }}</p>
    <h3>Male</h3>
    <div class="test__cats--List">
        <div class="test__List--single" *ngFor="let catName of maleHasCats">       
            <div class="test__List--Row">
                {{ catName }}
            </div>              
        </div>
    </div>  
    <h3>Female</h3>
    <div class="test__cats--List">
        <div class="test__List--single" *ngFor="let catName of femaleHasCats">       
            <div class="test__List--Row">
                {{ catName }}
            </div> 
        </div>
    </div>    
</div>
